{% extends "base.html" %}
{% block content %}

<a href="/" class="back-link">← Back to Users</a>

<h1>{{user.name}}'s personal movie list:</h1>
<div class="form-section">
    <h2>Add new Movie</h2>
    <form method="POST" action="{{ url_for('add_movie', user_id=user.id)}}">
        <input type="text" name="title" placeholder="Movie title" required>
        <button type="submit" class="btn">Add Movie</button>
    </form>
</div>
<div class="card-list">
    {% for movie in usermovielist%}

    <div class="card">
        <img src="{{movie.url}}" alt="Poster for {{movie.name}}" class="movie-poster">
        <form action="{{url_for('update_movie', user_id=user.id, movie_id=movie.id)}}" method="post"
            class="inline-form">
            <input type="text" name="title" value="{{movie.name}}" required>
            <button type="submit" class="btn btn-small">Update</button>
        </form>
        <div>
            <strong>Year:</strong>{{movie.year}}
        </div>
        <div>
            <strong>Director:</strong>{{movie.director}}
        </div>

        <form action="{{url_for('delete_movie', user_id=user.id, movie_id=movie.id)}}" method="post"
            class="inline-form">
            <button type="submit" class="btn btn-danger btn-small"
                onclick="return confirm('Delete this movie?');">Delete</button>
        </form>

    </div>
    {%endfor%}
</div>

{%endblock%}